<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Japan Guide{% endblock %}</title>
        <link rel="icon" href="{% block icon %}{{ asset('/assets/img/favicon.ico') }}{% endblock %}">
        <link rel="stylesheet" type="text/css" href="{{ asset('/assets/css/style.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <header>
        <a href="{{ path('japanguide') }}" class="logo">
            <img src="{{ asset('/assets/img/japanguide.png') }}" class="logo-image" alt="Japan Guide Logo">
        </a>

        <div class="bx bx-menu" id="menu-icon"></div>

        <ul class="navbar">
            <li><a href="{{ path('japanguide') }}">Home</a></li>
        </ul>
    </header>
        {% block body %}

        {% endblock %}
    <script type="text/javascript" src="{{ asset('/assets/js/script.js') }}"></script>
    </body>
</html>
