{% extends 'base.html.twig' %}

{% block body %}
    <section class="home" id="home">
        <div class="home-text">
            <h1>
                Japan<br>Guide
            </h1>
            <p>
                Your gateway to experiencing the<br>Land of the Rising Sun like never before!
            </p>
            <a href="#latestPosts" class="home-btn">Check Out Our Latest Posts!</a>
        </div>
    </section>

    <section class="latestPosts" id="latestPosts">
        <div class="articles-content">
            <div class="box">
                <div class="thum">
                    <a href="{{ path('osakaTenThingsToDo') }}">
                        <img src="{{ asset('/assets/img/osaka.jpg') }}" alt="Osaka">
                    </a>
                </div>
                <h4>Ten Things to Do in Osaka:<br>A Guide to Unforgettable Experiences</h4>
            </div>

            <div class="box">
                <div class="thum">
                    <a href="{{ path('japanExploringHiddenGems') }}">
                        <img src="{{ asset('/assets/img/magome.jpg') }}" alt="Osaka">
                    </a>
                </div>
                <h4>Exploring the Hidden Gems of Japan:<br>Five Lesser-Known Destinations</h4>
            </div>

            <div class="box">
                <div class="thum">
                    <a href="{{ path('osakaFiveBestDayTrips') }}">
                        <img src="{{ asset('/assets/img/background.jpg') }}" alt="Kyoto">
                    </a>
                </div>
                <h4>Five Best Day Trips from Osaka:<br>Castles, Nature and More</h4>
            </div>
        </div>
    </section>
{% endblock %}